#about{
    padding: 60px;
    height: 100vh;
}
.heading{
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
}

/* We will use same divider in every section */
.divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}

#about .divider ~ p{
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 300;
    margin-top: 15px;
}
#about .about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;
    flex-direction: row;
}

#about .about-col .img-col{
    flex-basis: 35%;
    text-align: center;
    margin-right: 25px;
}

#about .about-col .img-col img{
    width: 90%;
    border-radius: 15px;
}

#about .about-col .tab-titles{
    display: flex;
    margin: 0 0 40px;
    flex-direction: row;
}

#about .about-col .tab-links {
    color: var(--themeColor);
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

#about .about-col .tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--themeColor);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

#about .about-col .tab-links.active-link::after {
    width: 50%;
}

#about .about-col .tab-contents ul li {
    list-style: none;
    margin-top: 10px 0;
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 300;
    margin-bottom: 8px;
}

#about .about-col .tab-contents ul li span {
    color: var(--themeColor);
    font-size: 18px;
    font-weight: 500;
}

#about .about-col .tab-contents {
    display: none;
}

#about .about-col .tab-contents.active-tab {
    display: block;
}
#about .about-col .tab-contents .skill{
    color: var(--textColor);
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 24px;
}

#about .about-col .tab-contents i{
    margin: 2px 6px;
    color: var(--themeColor);
}

/* Mobile View */
@media only screen and (max-width: 850px){
    #about{
        padding: 50px 10px;
        height: 100vh;
    }
    #about .divider ~ p{
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: justify;
        font-weight: 100;
    }
    #about .about-col{
        flex-direction: column;
    }
    #about .about-col .img-col img{
        width: 50%;
        border-radius: 15px;
    }
    #about .about-col .tab-titles{
        display: flex;
        margin: 0 0 40px 25%;
        flex-direction: row;
        
    }
    #about .about-col .tab-contents{
        margin-left: 20%;
    }
}
@media only screen and (max-width: 400px){
    #about{
        padding: 50px 10px;
        height: 130vh;
    }
    #about .about-col .img-col img{
        margin-left: 10%;
        width: 90%;
        border-radius: 15px;
    }
    #about .about-col .tab-contents{
        margin:0 10% 0 10%;
    }
}
