#certificate{
    padding: 30px;
  
}
.certificate-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}
.training{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.training img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-bottom: 9px;
}
.training:hover img{
    transform: scale(1.1);
}
.det{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6),var(--themeColor));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.4s;
    cursor: pointer;
}
.training:hover .det{
    height: 100%;
}
.training a{
    text-decoration: none;
    background-color: var(--bgColor);
    color: var(--themeColor);
    border-radius: 16px;
    font-size: 15px;
    margin-top: 200px;
    padding: 3px 2px;
    text-align: center;
    width: 80px;
    margin-bottom: 50px;
}
.training:hover a{
    height: 100%;
}


/* Mobile View */
@media only screen and (max-width:800px){
    #certificate{
        margin: 20px;
        padding: 20px;
       
    }
    .certificate-list{
    
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
    .training img{
        width: 90%;
        height: 200px;
        border-radius: 10px;
        margin-left: 20px;
        margin-bottom: 9px;
    }
}
@media only screen and (max-width:400px){
    #certificate{
        padding: 20px;
  
    }
}
@media only screen and (max-height:400px){
    #certificate{
        padding: 20px;
     
    }
}