#contact{
    padding: 30px 30px;
   
    background-color: #bbdbd6;
    background-image: linear-gradient(to right, rgba(225, 236, 235, 0.4),rgba(91, 240, 245, 0.8));
}
#contact .contact-row{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
}
#contact .contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    border-radius: 4px;
    padding: 20px;
}
#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.4s;
}
#contact .contact-row .contact-left .icon-box:hover .icon i{
    background-color: var(--themeColor);
    color: var(--bgColor);
}
#contact .contact-row .contact-left .icon-box .info h4{
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 700;

}
#contact .contact-row .contact-left .icon-box .info p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}

/* Contact Right */
#contact .contact-row .contact-right{
    flex-basis: 60%;
    min-width: 60%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,20%);
    border-radius: 4px;
    padding: 20px;
}
#contact .contact-row .contact-right form input,
#contact .contact-row .contact-right form textarea{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: var(--textColor);
    display: block;
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid lightgray;
    outline: none;
    resize: none;
    transition: 0.4s;
}
#contact .contact-row .contact-right form input:focus,
#contact .contact-row .contact-right form textarea:focus{
    border: 2px solid var(--themeColor);
}
#contact .contact-row .contact-right form input[type = submit]{
    background-color: var(--themeColor);
    color: var(--bgColor);
    border: 2px solid var(--themeColor);
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 4px;
}

/* Mobile View */
@media only screen and (max-width:800px){
    #contact{
        padding: 50px;
      
    }
    #contact .contact-row{
        flex-direction: column;
        gap: 10px;
    }
}
@media only screen and (max-width:500px){
    #contact{
        padding: 50px 10px;
       
    }
    
}
@media only screen and (max-width:400px){
    #contact{
        padding: 50px 10px;
       
    }
    
}